html {
    height: 100%;
    width: 100%
}

body {
    background-color: #ffeedd;
    overflow: hidden;
    overflow-y: auto;
    display: block;
    height: 100%;

}

h3 {
	font-color: #8c8a8b !important;
}